.videoContainer {
    overflow: hidden;
    border-radius: 1rem;
    border: 2px solid var(--ifm-color-primary);
    background-color: var(--ifm-color-primary);
    display: flex;
    margin: 1rem 0;
}

.videoContainer iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
    border-radius: 1rem;
}

.videoContainer span {
    padding: 12px 6px;
    font-weight: 600;
    color: var(--ifm-background-color);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    height: fit-content;
}

.videoContainer details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
    background-color: red;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }